.btn {
  min-width: 258px;
  border: unset;
  border-radius: 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  @include adaptiveDesktopToMobile("height", 62, 50);
  font-family: $font-family-main;
  @include adaptiveDesktopToMobile("font-size", 22, 16);
  line-height: 130%;
  padding-right: 36px;
  padding-left: 36px;
  transition: 0.1s ease-in-out;
  position: relative;
  background-color: $color-dodger-blue;
  color: $color-default-white;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    background-image: url(../img/svg/icon-arrow.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    filter: invert(1);
  }

  &:hover {
    &::after {
      animation: 0.5s btnArrowAnimation;
    }
  }

  &--white {
    color: $color-dodger-blue;
    border-color: $color-default-white;
    opacity: 1;
    background-color: $color-default-white;

    &::after {
      filter: unset;
      background-image: url("../img/svg/icon-arrow-blue.svg");
    }
  }

  @include viewport--sm {
    width: 100%;
    justify-content: center;
  }
}

@keyframes btnArrowAnimation {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 18px -18px;
  }
  51% {
    background-position: -18px 18px;
  }
  100% {
    background-position: 0 0;
  }
}
