<section class="benefits">
  <div class="container">
    <h2 class="benefits__title section-title-sm">У нас классно</h2>
    <ul class="benefits__list">
      <li class="benefits__item">Мы влияем на конечный продукт и удобство пользования фичами</li>
      <li class="benefits__item">С нами можно прокачать навыки и получить глубокий опыт не только в тестировании</li>
      <li class="benefits__item">Проводим перформанс-тестирование</li>
      <li class="benefits__item">Лёгкий и комфортный онбординг</li>
      <li class="benefits__item">Часто проводим внутренние ивенты и много общаемся внутри команды</li>
      <li class="benefits__item">Внедрение идей и практик Quality Assurance</li>
    </ul>
  </div>
</section>