<p class="modal__buttons">
  <a href="https://team.vk.company/vacancy/25607/" class="btn" target="_blank">Mobile</a>
  <a href="https://team.vk.company/vacancy/25611/" class="btn" target="_blank">Web</a>
</p>

<style>
  .modal__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 60px 0;
  }

  @media screen and (max-width: 767px) {
    .modal__buttons {
      grid-template-columns: auto;
      margin: 60px 0 30px;
    }

    .modal__buttons a {
      min-width: unset;
    }
  }
</style>