<section class="process">
  <div class="container">
    <div class="process__wrapper">
      <h2 class="process__title section-title">
        Как проходит<br> Weekend Offer?
      </h2>
      <div class="process__left-wrapper">
        <div class="process__peoples">
          <svg
            class="process__peoples-pic"
            width="553"
            height="542"
            aria-hidden="true"
          >
            <use xlink:href="#process-peoples"></use>
          </svg>
        </div>
      </div>
      <div class="process__right-wrapper">
        <ul class="process__list">
          <li class="process__item">
            <p class="process__item-date">6 – 17 июня</p>
            <h3 class="process__item-title">Первая встреча</h3>
            <p class="process__item-description">
              Мы&nbsp;свяжемся с&nbsp;вами после получения заявки и&nbsp;договоримся о&nbsp;звонке на&nbsp;<b>15&ndash;30&nbsp;минут</b>. Коротко расскажем о&nbsp;командах и&nbsp;выберем слот для индивидуального онлайн-интервью в&nbsp;выходные.
            </p>
          </li>
          <li class="process__item">
            <p class="process__item-date">Суббота, 18 июня</p>
            <h3 class="process__item-title">Детальное знакомство</h3>
            <p class="process__item-description">
              В&nbsp;<b>10:00</b> по&nbsp;Москве выступят представители ВКонтакте: директор по&nbsp;качеству Михаил Шваркунов, руководитель команды QA&nbsp;Core Android Артём Бурла и&nbsp;руководитель команды QA&nbsp;Core iOS Евгений Просвиркин. На&nbsp;общей онлайн-встрече они подробно расскажут о&nbsp;задачах, которые вам предстоит решать.<br><br>
              
              С&nbsp;<b>11:00 до&nbsp;19:00</b> пройдут индивидуальные технические онлайн-собеседования, пообщаемся с&nbsp;вами в&nbsp;заранее назначенное время.
            </p>
          </li>
          <li class="process__item">
            <p class="process__item-date">
              Воскресенье, 19 июня
            </p>
            <h3 class="process__item-title">Финальные собеседования</h3>
            <p class="process__item-description">
              Тимлиды и&nbsp;руководители направлений на&nbsp;индивидуальной онлайн-встрече ещё раз расскажут о&nbsp;предстоящих вызовах и&nbsp;ответят на&nbsp;все вопросы. Встречи будут проходить с&nbsp;<b>11:00 до&nbsp;18:00</b>.
            </p>
          </li>
          <li class="process__item">
            <h3 class="process__item-title">Job offer</h3>
            <p class="process__item-description">
              Уже в&nbsp;воскресенье вечером мы&nbsp;определим лучших кандидатов и&nbsp;отправим им&nbsp;офферы.
            </p>
          </li>
        </ul>
      </div>
      <a href="https://team.vk.company/vacancy/25607/" class="process__link btn" target="_blank">Записаться</a>
    </div>
  </div>
</section>