<section class="qa">
  <div class="container">
    <div class="qa__wrapper">
      <div class="qa__text">
        <h2 class="qa__title section-title-sm">QA ВКонтакте — топчик</h2>
        <ul class="qa__list">
          <li class="qa__item">
            Мы можем выпустить четыре приложения одновременно 
          </li>
          <li class="qa__item">
            Соблюдаем недельный релизный цикл для мобильных приложений 
          </li>
          <li class="qa__item">
            Создаём инструменты, которые упрощают жизнь: удалённую ферму устройств, сервисы менеджмента ботов для автотестов, жизненного цикла автотестов
          </li>
          <li class="qa__item">
            У нас самые быстрые эмуляторы на Диком Западе
          </li>
          <li class="qa__item">
            Посвящаем автотестам минимум 20% рабочего времени
          </li>
        </ul>
      </div>
      <div class="qa__pic">
        <img src="img/svg/qa-people.svg" width="598" height="589" />
      </div>
    </div>
    
  </div>
</section>