<section class="responsibilities">
  <div class="container">
    <h2 class="responsibilities__title section-title-sm">Вам предстоит</h2>
    <ul class="responsibilities__list">
      <li class="responsibilities__item">
        Тестировать мобильные и веб-приложения ВКонтакте
      </li>
      <li class="responsibilities__item">
        Вести тестовую документацию
      </li>
      <li class="responsibilities__item">
        Регистрировать найденные дефекты в баг-трекере, контролировать их исправление
      </li>
      <li class="responsibilities__item">
        Вместе с командой разработки улучшать конечный продукт
      </li>
      <li class="responsibilities__item">
        Писать автотесты и развивать инструменты автоматизации тестирования
      </li>
    </ul>
    <div class="responsibilities__pic">
      <img src="img/svg/responsibilities-man.svg" width="1440" height="579" />
    </div>
  </div>
</section>