<section class="teams">
  <div class="container">
    <h2 class="teams__title section-title-sm">Команды, в&nbsp;которые мы&nbsp;приглашаем тестировщиков</h2>
    <ul class="teams__list" data-accordion="parent">
      <li class="teams__item" data-accordion="element">
        <div class="teams__item-top-wrapper" data-accordion="button">
          <div class="teams__item-number">1</div>
          <div class="teams__item-team">
            <div class="teams__item-team-name">Core QA</div>
            <div class="teams__item-team-devices"><span>iOS</span><span>Android</span></div>
          </div>
          <img src="img/svg/teams-item-arrow.svg" class="teams__item-arrow">
        </div>
        <div class="teams__item-description" data-accordion="content">
          Core QA — ключевая команда тестирования ВКонтакте. Помимо тестирования задач, мы строим все процессы, связанные с тестированием, созданием
          и поддержкой инструментов и инфраструктуры. Наша команда делает удобнее работу не только тестировщиков, но и других коллег. Тестирование инфраструктурных задач чередуется с продуктовыми задачами, в случае если ресурс продуктовых команд ограничен. Наши сотрудники регулярно выступают
          как на внутренних, так и на внешних тематических мероприятиях.
        </div>
      </li>
      <li class="teams__item" data-accordion="element" >
        <div class="teams__item-top-wrapper" data-accordion="button">
          <div class="teams__item-number">2</div>
          <div class="teams__item-team">
            <div class="teams__item-team-name">VK Мессенджер</div>
            <div class="teams__item-team-devices"><span>iOS</span><span>Android</span></div>
          </div>
          <img src="img/svg/teams-item-arrow.svg" class="teams__item-arrow">
        </div>
        <div class="teams__item-description" data-accordion="content">
          Мессенджер теперь — не только часть ВКонтакте, но и отдельное приложение VK Мессенджер. Наш девиз: «Только общение», ведь мы создаём сервис с простым и удобным интерфейсом, объединяющий людей.<br><br>

          Мы проектируем и разрабатываем новые фичи, проводим UX-исследования, анализируем фидбэк и улучшаем продукт, чтобы он был полезен и удобен для любой категории пользователей. Каждый участник команды влияет на развитие мессенджера. Помимо функциональности, мы уделяем большое внимание интерфейсу приложения, чтобы наш продукт был юзер-френдли.
        </div>
      </li>
      <li class="teams__item" data-accordion="element">
        <div class="teams__item-top-wrapper" data-accordion="button">
          <div class="teams__item-number">3</div>
          <div class="teams__item-team">
            <div class="teams__item-team-name">Стикеры и подарки</div>
            <div class="teams__item-team-devices"><span>iOS</span><span>Android</span></div>
          </div>
          <img src="img/svg/teams-item-arrow.svg" class="teams__item-arrow">
        </div>
        <div class="teams__item-description" data-accordion="content">
          Стикеры и подарки дарят пользователям яркие эмоции и помогают делиться ими.
          Мы стремимся повышать ценность продукта и упрощать пользовательские сценарии. Стараемся сохранить все процессы в команде максимально простыми и прозрачными. Каждый может участвовать в принятии решений и вносить свою лепту в развитие продуктов, поэтому мы очень ценим ответственность и самостоятельность. <br><br>

          У нас небольшая команда, но очень много идей и планов, поэтому ищем ещё одного героя, готового помочь нам воплотить все задумки в жизнь.
        </div>
      </li>
      <li class="teams__item" data-accordion="element">
        <div class="teams__item-top-wrapper" data-accordion="button">
          <div class="teams__item-number">4</div>
          <div class="teams__item-team">
            <div class="teams__item-team-name">Сообщества</div>
            <div class="teams__item-team-devices"><span>Android</span></div>
          </div>
          <img src="img/svg/teams-item-arrow.svg" class="teams__item-arrow">
        </div>
        <div class="teams__item-description" data-accordion="content">
          Сообщества — один из ключевых драйверов продукта, позволяющий авторам публиковать контент и находить свою аудиторию. Наша команда разрабатывает всё, что связано с сообществами: каталоги и витрины, системы рекомендаций, вид страницы, инструменты для ведения и монетизации сообществ.<br><br>

          Нас 13 человек, включая бэкенд-разработчиков и ML-специалистов. Каждый из нас — ответственный профессионал. Все процессы максимально прозрачны и открыты, мнение каждого коллеги всегда учитывается.<br><br> 

          Продуктовых идей очень много, за последнее время команда стала больше и продолжает расти — поэтому ищем классного специалиста, который усилит тестирование.
        </div>
      </li>
      <li class="teams__item" data-accordion="element">
        <div class="teams__item-top-wrapper" data-accordion="button">
          <div class="teams__item-number">5</div>
          <div class="teams__item-team">
            <div class="teams__item-team-name">Создание контента</div>
            <div class="teams__item-team-devices"><span>iOS</span><span>Android</span></div>
          </div>
          <img src="img/svg/teams-item-arrow.svg" class="teams__item-arrow">
        </div>
        <div class="teams__item-description" data-accordion="content">
          Наша команда развивает инструменты для создания контента, получения обратной связи, помогает авторам увеличивать их аудиторию. Мы отвечаем за публикации записей, историй, статей, фотографий, опросов и других форматов, а также
          за стикеры и подарки.<br>
          Ищем специалиста, который будет тестировать новые продукты, чтобы
          они максимально соответствовали потребностям пользователей.
        </div>
      </li>
      <li class="teams__item" data-accordion="element">
        <div class="teams__item-top-wrapper" data-accordion="button">
          <div class="teams__item-number">6</div>
          <div class="teams__item-team">
            <div class="teams__item-team-name">Потребление контента и рекомендаций<br> (Лента, Друзья)</div>
            <div class="teams__item-team-devices"><span>iOS</span><span>Android</span></div>
          </div>
          <img src="img/svg/teams-item-arrow.svg" class="teams__item-arrow">
        </div>
        <div class="teams__item-description" data-accordion="content">
          Наша команда отвечает сразу за несколько ключевых направлений ВКонтакте.
          Среди них новостная лента, рекомендации, комментарии, социальный граф, платформа для авторов. Мы работаем по всем фронтам: создаём удобные пользовательские интерфейсы, быстрый высоконагруженный бэкенд, эффективные алгоритмы машинного обучения и яркий маркетинг. Придерживаемся итерационного подхода в работе над продуктами и осознанного data-driven — в принятии решений.<br><br>

          Из интересных запусков: создали платформу для поддержки авторов VK Donut, двухуровневые комментарии и ленту «Актуальное» — тематическую ленту самых обсуждаемых событий дня.<br><br>

          Ищем специалиста, который усилит нашу команду и поможет делать продукты
          ещё лучше для пользователей.
        </div>
      </li>
      <li class="teams__item" data-accordion="element">
        <div class="teams__item-top-wrapper" data-accordion="button">
          <div class="teams__item-number">7</div>
          <div class="teams__item-team">
            <div class="teams__item-team-name">Развитие суперприложения</div>
            <div class="teams__item-team-devices"><span>iOS</span><span>Android</span></div>
          </div>
          <img src="img/svg/teams-item-arrow.svg" class="teams__item-arrow">
        </div>
        <div class="teams__item-description" data-accordion="content">
          Каждый раз, когда пользователи проверяют погоду или курсы валют, добавляют виджет в сообщество, покупают книгу, заказывают еду или играют в мобильные игры
          в привычном интерфейсе ВКонтакте — они пользуются тем, что создала команда развития суперприложения.<br><br>

          <b>Мы отвечаем за очень широкий и важный спектр задач:</b>
          <ul>
            <li>Дорабатываем мобильный клиент ВКонтакте для расширения возможностей платформы мини-приложений и игр</li>
            <li>Создаём и поддерживаем API для разработки мини-приложений и игр — как для внутреннего использования, так и для неограниченного числа независимых разработчиков</li>
            <li>Поддерживаем, развиваем и создаём новые точки входа — вторую вкладку мобильного приложения, каталоги игр и мини-приложений и прочие</li>
            <li>Участвуем в разработке и обеспечении качества запусков ключевых внутренних проектов, реализованных на нашей платформе</li>
            <li>Поддерживаем наших пользователей</li>
          </ul>
        </div>
      </li>
      <li class="teams__item" data-accordion="element">
        <div class="teams__item-top-wrapper" data-accordion="button">
          <div class="teams__item-number">8</div>
          <div class="teams__item-team">
            <div class="teams__item-team-name">VK Музыка</div>
            <div class="teams__item-team-devices"><span>Android</span></div>
          </div>
          <img src="img/svg/teams-item-arrow.svg" class="teams__item-arrow">
        </div>
        <div class="teams__item-description" data-accordion="content">
          Наша команда работает над VK Музыкой. Мы развиваем сразу несколько приложений для стриминга музыки, улучшаем рекомендации для пользователей, постоянно работаем с нашей большой мультиподпиской. Наш продукт — один из ключевых и самых востребованных среди пользователей, а также по-настоящему уникальный даже в масштабе нашей планеты.<br><br>

          Мы горим не только улучшениями кода и красивыми архитектурами,
          но и продуктовыми фичами. Мы сами придумываем новые функции — и создаём их.<br><br>
          
          Ищем специалиста, который будет тестировать новые продукты, чтобы они максимально соответствовали потребностям пользователей.
        </div>
      </li>
    </ul>
  </div>
</section>